* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "iosevka nerd font";
    font-weight: 500;
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background: #232136;
    border: 2px solid #6e6a86;
}

tooltip {
    background-color: #232136;
    border: 2px solid #908caa;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #393552;
    margin: 6px 0px 6px 6px;
    border: 2px solid #6e6a86;
}

#workspaces button {
    padding: 2px 4px;
    background-color: #393552;
    color: #ea9a97;
    margin: 0.25em;
}

#workspaces button.active {
    color: #ea9a97;
}

#workspaces button.empty {
    color: #6e6a86;
}

#workspaces button.visible {
    color: #ea9a97;
}

#workspaces button.urgent {
    color: #b4637a;
}

#clock {
    background-color: #393552;
    border: 2px solid #6e6a86;
    color: #ea9a97;
}

#tray {
    background-color: #393552;
    border: 2px solid #6e6a86;
    color: #ea9a97;
}

#battery {
    background-color: #393552;
    border: 2px solid #6e6a86;
    color: #ea9a97;
}

#cpu,
#memory,
#network,
#pulseaudio {
    background-color: #393552;
    border: 2px solid #6e6a86;
    color: #ea9a97;
}

#cpu.critical,
#memory.critical {
    background-color: #393552;
    border: 2px solid #6e6a86;
    color: #b4637a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #393552;
    border: 2px solid #6e6a86;
    color: #b4637a;
}
