* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "iosevka nerd font";
    font-weight: 500;
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background: #141415;
}

tooltip {
    background-color: #141415;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #2D2D2F;
    margin: 6px 0px 6px 6px;
}

#workspaces button {
    padding: 2px 4px;
    background-color: #2D2D2F;
    color: #cdcdcd;
    margin: 0.25em;
}

#workspaces button.active {
    color: #cdcdcd;
}

#workspaces button.empty {
    color: #d8647e;
}

#workspaces button.visible {
    color: #cdcdcd;
}

#workspaces button.urgent {
    color: #BF3050;
}

#clock {
    background-color: #2D2D2F;
    color: #cdcdcd;
}

#tray {
    background-color: #2D2D2F;
    color: #cdcdcd;
}

#battery {
    background-color: #2D2D2F;
    color: #cdcdcd;
}

#cpu,
#memory,
#network,
#pulseaudio {
    background-color: #2D2D2F;
    color: #cdcdcd;
}

#cpu.critical,
#memory.critical {
    background-color: #2D2D2F;
    color: #BF3050;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #2D2D2F;
    color: #BF3050;
}
