* {
    font-family: 'Iosevka Nerd Font';
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


#window {
    padding: 0 33px;
    color: #a6adc8;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px 0 10px;
    background-color: transparent;
    color: #eb6f92;
    transition-property: color;
    transition-duration: 0.35s;
    border-radius: 50%;
}

#workspaces button.active {
    color: #ebbcba;
}

#workspaces button.urgent {
    background-color: #c4a7e7;
    color: #191724;
}

#mode {
    background-color: #6e6a86;
    border-bottom: 3px solid #ffffff;
}

#custom-updates,
#window,
#workspaces,
#clock,
#cpu,
#memory,
#pulseaudio {
    padding: 0 15px;
    margin-right: 8px;
    border-radius: 10px;
    border: 1px solid #ebbcba;
    background-color: #1f1d2e;
}

#clock.date {
    color: #eb6f92;
    margin-right: 8px;
}

#cpu {
   padding: 0 15px;
   color: #ea9a97;
}

#memory {
   padding: 0 15px;
   color: #3e8fb0;
}

#pulseaudio {
    color: #9ccfd8;
}

#clock {
    color: #c4a7e7;
    margin-right: 0;
}
